# Created by http://gitignore.io

### Eclipse ###
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

*.class

# Package Files #
*.war
*.ear

target/

*.orig
.DS_Store
